<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#  profile: http://ogp.me/ns/profile# fb: http://ogp.me/ns/fb#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MXX6ZWK');</script>
	<!-- End Google Tag Manager -->
	<!-- <link rel="dns-prefetch" href="https://cdn.myresume.ru"> -->
<title>Шаблоны резюме | Составить онлайн и скачать бланк - MyResume</title>
<meta name="description" content="Выберите готовый шаблон резюме на работу. Примеры правильных бланков резюме для разных профессий и специальностей.">
<link rel="canonical" href="index.html">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="page">
<meta property="og:title" content="Шаблоны резюме | Составить онлайн и скачать бланк - MyResume">
<meta property="og:description" content="Выберите готовый шаблон резюме на работу. Примеры правильных бланков резюме для разных профессий и специальностей.">
<meta property="og:url" content="https://myresume.ru/templates/">
<meta property="og:site_name" content="MyResume">
<meta name="twitter:card" content="https://myresume.ru/img/myresume-shared.jpg">
<meta name="twitter:title" content="Шаблоны резюме | Составить онлайн и скачать бланк - MyResume">
<meta property="og:image" content="https://myresume.ru/img/myresume-shared.jpg">
<meta property="og:image:secure_url" content="https://myresume.ru/img/myresume-shared.jpg">
<meta property="og:image:width" content="556">
<meta property="og:image:height" content="340">
<meta name="twitter:image" content="https://myresume.ru/img/myresume-shared.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="../favicon/site.webmanifest">
  <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#324b52">
    <meta name="apple-mobile-web-app-title" content="MY Resume">
  <meta name="application-name" content="MY Resume">
  <meta name="msapplication-TileColor" content="#324b52">
  <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#324b52">
  <meta name="p:domain_verify" content="2e354ce4f390aed3423d976d6257adaf">
  <link rel="stylesheet" href="../include/custom-modal/custom-modal.css">  
	<link rel="stylesheet" href="../wp-content/themes/raten/css/main.css">
	<link rel="stylesheet" href="../wp-content/themes/raten/css/media.css">
	<link rel="stylesheet" href="../wp-content/themes/raten/css/new.css">
	<link href="../css?family=Rubik:300,400,500,700&amp;subset=cyrillic" rel="stylesheet"> 
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXX6ZWK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header class="s-header fixed inner">
		<a href="../index.html" class="s-header-logo">
		</a>
		<nav class="s-header-nav" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
			<ul class="s-header-menu">
				<li itemprop="name"><a href="../about/index.html" itemprop="url">О нас</a></li>
				<li itemprop="name"><a href="../examples/index.html" itemprop="url">Примеры резюме</a></li>
				<li itemprop="name"><a href="../skills/index.html" itemprop="url">Генератор навыков</a></li>
				<li itemprop="name"><a href="../kak-sostavit-rezume/index.html" itemprop="url">Как составить резюме</a></li>
			</ul>
		</nav>
		<div class="s-header-toggle article"><span></span><span></span><span></span></div>
		<div class="s-header-user right hide" id="userMenu">
			<div class="s-header-user-logo">
				<svg class="userIcon" width="24px" height="24px"><use xlink:href="/img/svg.svg#icon-user"></use></svg>
				<img id="userAvatar" src="" alt="img">
			</div>
			<div class="s-header-user-text">
				<span id="userName"></span> <i></i>
				<ul class="submenu">
				  <li><a href="../edit/index.html">Редактировать резюме</a></li>
				  <li><a href="../edit/index.html">Мои резюме</a></li>
				  <li><a class="hide" href="#">Тарифы</a></li>
				  <li><a href="../edit/index.html">Настройки</a></li>
				  <li><a href="../index-1.html">Выход</a></li>
				</ul>				
			</div>
		</div>
		<div class="s-header-btns right hide" id="noLogin">
			<a href="" class="s-header-btn1 btn modalLink" data-modal="#loginSection">Войти</a>

			<a href="index.html" class="s-header-btn2">Создать резюме</a>
		</div>
		<div class="clear"></div>
		<div class="s-header-mobile">
		<nav class="s-header-nav">
			<ul class="s-header-menu">
				<li><a href="../kak-sostavit-rezume/index.html">Как составить резюме</a></li>
				<li><a href="../about/index.html">О нас</a></li>
				<li><a href="../examples/index.html">Примеры резюме</a></li>
				<li><a href="../employers/index.html">Сотрудничество</a></li>
				<li><a href="../contacts/index.html">Контакты</a></li>
				<li><a href="index.html">Шаблоны резюме</a></li>
				<li><a href="../skills/index.html">Генератор навыков</a></li>
			</ul>
		</nav>
		<div class="s-header-btns right hide" id="noLoginM">
			<a href="" class="s-header-btn1 btn modalLink" data-modal="#loginSection">Войти</a>
			<a href="index.html" class="s-header-btn2">Создать резюме</a>
		</div>
	</div>
<script async="async" src="../js/authCheck.js"></script>
	</header>
	
	<div class="s-template">
		<div class="wrap">
			<ul class="s-template-steps">
				<li class="active">
					<p><strong>Шаг 1</strong> <span>Выберите шаблон</span></p>
				</li>
				<li>
					<p><strong>Шаг 2</strong> <span>Введите имя и почту</span></p>
				</li>
			</ul>
			<div class="s-template-line">
				<div class="s-template-line-icon icon1"></div>
				<div class="s-template-line-icon icon2"></div>
			</div>

		</div>
	</div>
	<div class="s-templates">
		<div class="wrap">
			<div class="s-templates-block1">
				<ul class="s-templates-list">
					<li>
						<div class="s-templates-item" id="tpl7">
							<div class="s-templates-title">Classic (Классика)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img1.webp" type="image/webp">
									<img src="../img/template-img1.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="7" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="s-templates-item" id="tpl4">
							<div class="s-templates-title">Sentiment (Настроение)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img4.webp" type="image/webp">
									<img src="../img/template-img4.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="4" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>					
					<li>
						<div class="s-templates-item" id="tpl8">
							<div class="s-templates-title">Liberty (Свобода)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img3.webp" type="image/webp">
									<img src="../img/template-img3.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="8" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="s-templates-item" id="tpl6">
							<div class="s-templates-title">Renaissanse (Возрождение)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img2.webp" type="image/webp">
									<img src="../img/template-img2.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="6" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>					
					<li>
						<div class="s-templates-item" id="tpl5">
							<div class="s-templates-title">Intuition (Интуитивность)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img5.webp" type="image/webp">
									<img src="../img/template-img5.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="5" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="s-templates-item" id="tpl3">
							<div class="s-templates-title">Sophisticated (Утонченность)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img6.webp" type="image/webp">
									<img src="../img/template-img6.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="3" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="s-templates-item" id="tpl1">
							<div class="s-templates-title">Imagination (Воображение)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img7.webp" type="image/webp">
									<img src="../img/template-img7.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="1" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="s-templates-item" id="tpl2">
							<div class="s-templates-title">Gorgeous (Великолепность)</div>
							<div class="s-templates-img">
								<picture>
									<source srcset="../img/template-img8.webp" type="image/webp">
									<img src="../img/template-img8.png" alt="img" class="img-responsive" loading="lazy">
								</picture>
								<a href="" data-modal="#templateModalSection" class="modalLink s-templates-link"></a>
								<div class="s-templates-btn">
									<div data-id="2" class="s-header-btn2">Выбрать шаблон</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="s-templates-block2">
				<ul class="s-contacts-list">
				<li class="oright">
					<div class="s-contacts-img s-templates-block2-img">
						<picture>
							<source srcset="../img/contacts-img3.webp" type="image/webp">
							<img src="../img/contacts-img3.png" alt="img" class="img-responsive" loading="lazy">
						</picture>
					</div>
				</li>
				<li>
					<div class="s-templates-block2-title">
						Новое резюме
					</div>
					<div class="s-templates-block2-descr">
						<strong>Шаг 2:</strong> Введите Ваше имя и почту для добавления резюме
					</div>
					<div class="s-contacts-form">
						<form action="/">
							<div class="s-contacts-item">
								<p>Ваше имя<span>*</span>:</p>
								<input type="text" name="name" id="name" placeholder="Введите имя">
							</div>
							<div class="s-contacts-item">
								<p>E-mail<span>*</span>:</p>
								<input type="text" name="email" id="email" placeholder="Введите почту">
								<input type="hidden" name="tpl" id="tpl">
							</div>
							<div class="s-contacts-item">
								<label class="container personal"><input type="checkbox" checked="true">Согласие с <a href="../data_processing/index.html" target="_blank">условиями обработки персональных данных</a><span class="checkmark"></span></label>
							</div><div class="s-contacts-item buttons">
								<a href="../edit/index.html" class="link">Пропустить</a>
								<button class="s-header-btn2 btn">Продолжить</button>
							</div>
							<div class="s-contacts-item hide error">
								<p>Ошибка:</p>
								<div class="errorMessage"></div>
							</div>
						</form>
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>

<div class="cm-container customModal hidden" id="templateModal">
  <div class="cm-bg"></div>
  <div class="cm-inner cm-slide--html">
    <div class="cm-content">
    	<div class="s-popup1-title">Renaissanse (Возрождение)</div>
      <section class="modalSection" id="templateModalSection" style="display: inline-block;">
			<div class="s-popup1-img">
				<img src="" alt="img" class="img-responsive">
			</div>
			<button type="button" class="cm-button cm-close-small cm-close" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewbox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
      </section>
      <div class="s-popup1-button"> <a href="index.html" class="mfp-close s-header-btn2 cm-close">Выбрать шаблон</a> </div>
    </div>
  </div>
</div>



<footer class="s-footer inner">
    <div class="s-footer-top">
        <div class="wrap">
            <a href="../index.html" class="s-footer-logo">
                <img src="../img/Logo_invert.svg" alt="img" class="img-responsive">
                <div class="copyright">© MyResume.ru </div>
            </a>
            <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
                <ul class="s-footer-list">
                    <li itemprop="name">Сервисы</li>
                    <li itemprop="name"><a itemprop="url" href="index.html">Шаблоны резюме</a></li>
                    <li itemprop="name"><a itemprop="url" href="../skills/index.html">Генератор навыков</a></li>
                </ul>
                <ul class="s-footer-list">
                    <li itemprop="name">Материалы</li>
                    <li itemprop="name"><a itemprop="url" href="../blog/index.html">Блог</a></li>
                    <li itemprop="name"><a itemprop="url" href="../examples/index.html">Примеры резюме</a></li>
                    <li itemprop="name"><a itemprop="url" href="../kak-sostavit-rezume/index.html">Как составить резюме</a></li>
                </ul>
                <ul class="s-footer-list">
                    <li itemprop="name">MyResume</li>
                    <li itemprop="name"><a itemprop="url" href="../about/index.html">О нас</a></li>
                    <li itemprop="name"><a itemprop="url" href="../contacts/index.html">Контакты</a></li>
                    <li itemprop="name"><a itemprop="url" href="../price/index.html">Цены</a></li>
                    <li itemprop="name"><a itemprop="url" href="../employers/index.html">Сотрудничество</a></li>
                </ul>
            </nav>
            <div class="s-footer-btns right">
                <a href="index.html" class="s-header-btn2 hide">Создать резюме</a>
                <ul class="s-footer-soc">
                    <li><a href="https://vk.com/myrezume" class="icon-vk">
                            <svg>
                                <use xlink:href="/img/svg.svg#footer-vk"></use>
                            </svg>
                        </a></li>
                    <li><a href="#" class="icon-yo">
                            <svg>
                                <use xlink:href="/img/svg.svg#footer-youtube"></use>
                            </svg>
                        </a></li>
                    <li><a href="#" class="icon-fb">
                            <svg>
                                <use xlink:href="/img/svg.svg#footer-facebook"></use>
                            </svg>
                        </a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="s-footer-bottom">
        <a href="../privacy-policy/index.html" target="_blank" class="s-footer-politic">Политика конфиденциальности</a>
    </div>
    <div itemscope="" itemtype="https://schema.org/Organization" style="display:none;">
        <meta itemprop="name" content="MyResume">
        <link itemprop="url" href="../index.html">
        <link itemprop="logo" href="../wp-content/themes/raten/img/logo.svg">
        <meta itemprop="description" content="Конструктор резюме онлайн: структурированные шаблоны для создания резюме на работу. Возможность скачать резюме и разместить online.">
        <meta itemprop="email" content="info@myresume.ru">
        <!--<div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <meta itemprop="addressLocality" content="Москва, Россия" />
            <meta itemprop="postalCode" content="012345" />
            <meta itemprop="streetAddress" content="Пл. Победы 26Б" />
        </div>-->
        <!-- <meta itemprop="telephone" content="+7-800-000-00-00"> -->
        <!-- 					<div itemprop="aggregateRating" itemscope="" itemtype="https://schema.org/AggregateRating">
                        <meta itemprop="ratingValue" content="4.5">
                        <meta itemprop="reviewCount" content="2">
                    </div> -->
        <!-- <link itemprop="sameAs" href="https://vk.com/myrezume"> -->
        <!--<<link itemprop="sameAs" href="https://twitter.com/group" />-->

    </div>
</footer>

<div class="cm-container customModal hidden" id="login">
    <div class="cm-bg"></div>
    <div class="cm-inner cm-slide--html">
        <div class="cm-content">
            <section class="modalSection" id="loginSection">
                <button type="button" class="cm-button cm-close-small cm-close" title="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1" viewbox="0 0 24 24">
                        <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                    </svg>
                </button>
                <div class="tabs">
                    <ul class="tabs__caption">
                        <li class="active tabs_login">Вход</li>
                        <li class="tabs_register">Регистрация</li>
                    </ul>
                    <div class="tabs__content tabs_login active">
                        <div class="two_block">
                            <div class="one_block first first1">
                                <div class="title_first">Для входа введите учетные данные:</div>
                                <div class="s-popup-form">
                                    <form action="/" class="form1">
                                        <div class="s-popup-form-item">
                                            <input type="text" name="email" placeholder="Введите e-mail" class="email">
                                        </div>
                                        <div class="s-popup-form-item">
                                            <input type="password" name="pass" placeholder="Введите пароль" class="password">
                                        </div>
                                        <input type="hidden" name="promo" class="promo" value="">
                                        <div class="popup-form-item bot_info">
                                            <p class="error hide"></p>
                                            <a href="" class="lost">Забыли свой пароль?</a>
                                            <button type="submit" class="s-header-btn2">Войти</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="one_block first first2">
                                <div class="title_first">Для восстановления пароля введи свой email:</div>
                                <div class="s-popup-form">
                                    <form action="/" class="form1">
                                        <div class="s-popup-form-item">
                                            <input type="text" name="email" placeholder="Введите e-mail" class="email">
                                        </div>
                                        <div class="popup-form-item bot_info">
                                            <p class="error hide"></p>
                                            <a href="" class="back">Вернуться назад</a>
                                            <button type="submit" class="s-header-btn2 continue">Продолжить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="one_block first first3">
                                <div class="title_first">Для восстановления пароля введи свой email:</div>
                                <div class="s-popup-form">
                                    <form action="/" class="form1">
                                        <div class="popup-form-item bot_info">
                                            <p class="succes">На ваш почтовый ящик отправлено письмо для восстановления
                                                пароля</p>
                                            <button type="submit" class="s-header-btn2 continue2">Продолжить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="one_block sep">
                                <span>или</span>
                            </div>

                            <div class="one_block soc">
                                <div class="soc_title">Войти с помощью аккаунта соц.сети:</div>

                                <div class="soc_icon">
                                    <a href="" class="authVk authSocial">
                                        <svg>
                                            <use xlink:href="/img/svg.svg#footer-vk"></use>
                                        </svg>
                                    </a>
                                    <a href="" class="authFb authSocial">
                                        <svg>
                                            <use xlink:href="/img/svg.svg#footer-facebook"></use>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="tabs__content tabs_register">
                        <div class="two_block registration">
                            <div class="one_block first">
                                <div class="title_first">Для регистрации введите данные:</div>
                                <div class="s-popup-form">
                                    <form action="/" class="form1">
                                        <div class="s-popup-form-item">
                                            <input type="text" name="name" class="name" placeholder="Введите имя">
                                        </div>
                                        <div class="s-popup-form-item">
                                            <input type="text" name="pass" class="email" placeholder="Введите e-mail">
                                        </div>
                                        <input type="hidden" name="promo" class="promo" value="">
                                        <div class="popup-form-item bot_info">
                                            <label class="container"><input type="checkbox" checked="true">Согласие с <a href="../data_processing/index.html" target="_blank">условиями обработки
                                                    персональных данных</a><span class="checkmark"></span></label>
                                            <p class="error hide"></p>
                                            <button type="submit" class="s-header-btn2">Зарегистрироваться</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="one_block sep">
                                <span>или</span>
                            </div>

                            <div class="one_block soc">
                                <div class="soc_title">Войти с помощью аккаунта соц.сети:</div>

                                <div class="soc_icon">
                                    <a href="" class="authVk authSocial">
                                        <svg>
                                            <use xlink:href="/img/svg.svg#footer-vk"></use>
                                        </svg>
                                    </a>
                                    <a href="" class="authFb authSocial">
                                        <svg>
                                            <use xlink:href="/img/svg.svg#footer-facebook"></use>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="rulesInfo visible">
    <div class="rulesInfoWrap">
        <div class="rulesInfoText">
            Мы используем файлы cookie. Продолжив работу с сайтом, вы принимаете <a href="../data_processing/index.html">Соглашение
                об обработке персональных данных</a></div>
        <span class="rulesInfoClose"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewbox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></span>
    </div>
</div>

<link rel="stylesheet" href="../css%20%281%29/global.css">
<script src="../libs/jquery/jquery-3.1.1.min.js"></script>
<script src="../js/global.js?1.6.357"></script>
<script src="../include/custom-modal/custom-modal.js?1.6.357"></script>
<link rel="stylesheet" href="../libs/owl-carousel/assets/owl.carousel.min.css">
<script src="../libs/owl-carousel/owl.carousel.min.js?1.6.357"></script>
<script src="../wp-content/themes/raten/js/common.js?1.6.357"></script>
<script src="../wp-content/themes/raten/js/new.js?1.6.357"></script>

    <script type='text/javascript'>
        $(document).ready(function () {
            $('.s-templates-item .s-header-btn2, #templateModal .s-header-btn2').click(function (e) {
                e.preventDefault();
                let tpl = $(this).attr('data-id');
                if ($('#noLogin').hasClass("hide")) {
                    window.location.href = "/edit/?tpl=" + tpl;
                }
                $('.s-contacts-form #tpl').val(tpl);
                console.log(tpl);
                $('.s-contacts-form .link').attr('href', '/edit/?tpl=' + tpl);
                var next = $('.s-template-steps').find('.active');
                next.removeClass('active').next('li').addClass('active');
                $('.s-template-line').addClass('active');
                $('.s-templates-block1').slideUp(700);
                $('.s-templates-block2').slideDown(700);
                $('html, body').animate({scrollTop: 0}, 500);
            });

            $('.s-contacts-form .s-header-btn2').click(function (e) {
                e.preventDefault();
                let tpl = $('.s-contacts-form input#tpl').val(),
                    json = {action: "registration"};
                json.tpl = tpl;
                json.email = $('.s-contacts-form input#email').val();
                json.firstName = $('.s-contacts-form input#name').val();
                json.href = document.location.origin + document.location.pathname;
                if (cCheck() === false) {
                    return;
                }
                $.post("/ajax.php", json, function (data) {
                    console.log(data);
                    if (data.substring(0, 6) === "Error:") {
                        let error = data.substring(7);
                        $('.errorMessage').html(error);
                        $('.s-contacts-form .error').removeClass('hide');
                    }
                    if (data == "1") { // reg success
                        let successUrl = "/edit/?tpl=" + tpl;
                        goal('reg', {'email': json.email, 'href': json.href}, successUrl);
                        $('.s-contacts-form .error').addClass('hide');

                    }
                });
            });


            $('.s-templates-link').click(function () {
                let tpl = $(this).parent().find('.s-header-btn2').attr('data-id'),
                    src = '/images/designs/design-resume-' + tpl + '.png',
                    name = $(this).parents('.s-templates-item').find('.s-templates-title').html();
                $('#templateModal .s-popup1-title').html(name);
                $('#templateModal .s-popup1-img img').attr('src', src);
                $('#templateModal .s-header-btn2').attr('data-id', tpl);
            });
                        $('.s-templates-item#tpl6').find('.s-header-btn2').click();
            
            // $('.container.personal').off('click');
            $('.container.personal').on('change', function () {
                console.log(123);
                cCheck();
            });

            function cCheck() {
                if ($('.container.personal input').prop('checked') === true) {
                    $('.error').addClass('hide');
                    return true;
                } else {
                    $('.errorMessage').html("Для продолжения необходимо согласие с условиями обработки персональных данных!");
                    $('.error').removeClass('hide');
                }
                return false;
            }
        });
    </script>
<noscript>
    <div><img src="../watch/48996176" style="position:absolute; left:-9999px;" alt=""></div>
</noscript>
<script defer="" src="../js/utm.js"></script>
</body>
</html>